*
{
  box-sizing: border-box;
}
 
html
{
  width:80%;
  height: auto;
  margin: auto;
}
h1
{
  font-family: cursive;
  font-weight: 600;
  color: cornsilk;
  text-align: center;
  margin-top:2em;
}

nav ul li
{
  float: left;
 
  margin:.10em;
  margin-top: 0;
  list-style: none;

  

  
}
a{
  text-decoration: none;
}
article
{
  display: block;
  background-color: red;
}
section
{
  clear: both;
  display: block;
  
}
.topContent
{
  display: inline;
  float: right;
  border: 2px solid white;
  width:100%;
  border-radius: 15px;

  
}